
.Cover-page {
  background-color: rgb(0, 92, 92);
  background-size: cover; 
  background-position: center; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(7, 61, 119); 
}


.App {
  text-align: center;
}

